<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Twitter live!</title>
  </head>
  <body>
  <div id="myDiv">
  {% for tweet in row %}
{{ tweet }}<br>
  {% endfor %}
  </div>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript">
   if (!!window.EventSource) {
    var  source = new EventSource('/');
    source.addEventListener('message', function(e) {
      console.log(e.data);
      }, false);
    source.addEventListener('open', function(e) {
      console.log(e.data);
      }, false);
    
    source.addEventListener('error', function(e) {
      if (e.readyState == EventSource.CLOSED) {
      console.log(e.data);
      }
      }, false);
    }
    var divs = document.getElementsByTagName('div'),
    mainDiv = document.createElement('div'),
    br = document.createElement('br'),
    children = divs.lastChild,
    divsLen = divs.length;
    
    for (i = 0; i < divsLen; i++) {
      var children = divs[i].lastChild;
      while (children) {
        if (children.nodeType == 3) {
          console.log(children.data +" UN ALA FOIS");
          var child = children.cloneNode(true);
          mainDiv.appendChild(child);
          mainDiv.innerHTML += "<br>";
          mainDiv.appendChild(br);
        }
        children = children.previousSibling;
      }
      document.body.removeChild(divs[i]);
    }
    document.body.appendChild(mainDiv);
  </script>
  </body>
</html>
