<nav>
   <div id="container">
     <div>
     <label for="datecolor">Date</label><br/>
     <input type="color" value="" id=".date" class="color" name="textcolor" onchange="color_update('.date',id)"/><br/>
     </div>
     <div>
     <label for="authorcolor">Author</label><br/>
     <input type="color" value="" id=".author" class="color" name="textcolor" onchange="color_update('.author',id)"/><br/>
     </div>
     <div>
     <label for="contentcolor">Tweet</label><br/>
     <input type="color" value="" id=".content" class="color" name="textcolor" onchange="color_update('.content',id)"/><br/>
     </div>
   </div>
  <script src='script/color.js'></script>
</nav> 
